# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sln
*.opensdf
*.suo
*.vcx*
*.pdb
*.cd
*.obj
*.log
*.sdf
*.ipch
*.stl
*.gcode

stl/*